body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* HEADER */

.header-wrapper {
   background-color: #1F2937; 
   width: 100%;
}

.header-container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

.header-logo {
    flex: 1;   
}

.header-links {
    flex: 1;
    display: flex;
    
    justify-content: flex-end;
}

.header-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-links li {
    font-size: 18px;
    
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-logo h2 {
    font-size: 24px;
    color: #F9FAF8;
}

/* HERO */

.hero-wrapper {
    background-color: #1F2937;
    padding: 100px 0;
}

.hero-container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

.hero-left {
    flex: 1;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero-left button {
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    color: #fff;
    background-color: #3882F6;
    
}

.hero-right p {
    font-size: 18px;
    color: white;
}

/* CARDS SECTION */

.cards-wrapper {
    padding: 50px 0;
    height: 600px;
}

.cards-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    
    
}

.cards-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 10px;
    
    
}

.card {
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.card-subtext {
    font-size: 18px;
    color: black;
}

.card-image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}

/* QUOTE SECTION */







